/* Custom
–––––––––––––––––––––––––––––––––––––––––––––––––– */   
/* Dark Theme */
@media (prefers-color-scheme: dark) {
    body { 
        background-color: #1c1b21 
    } 
}

/* slegna */
.button.button-slegna {
    color: #ffffff;
    background-color: #1c1c1c;
    box-shadow: inset 0 0 0 2px #ee1c3a;
    border: 1px solid #ee1c3a;
}
.button.button-slegna:hover,
.button.button-slegna:focus {
    filter: brightness(90%);
}
